{% extends 'base.html.twig' %}

{% block body %}

	{# HERO SECTION #}
	<div>
		<div class="stimulus d-flex flex-column justify-content-center">
			{{ include('components/stimulus.html.twig') }}
		</div>
		<div class="hero px-0 mt-5">
			<img class="w-100 h-100 d-flex mx-auto" src={{asset("images/hero.avif")}} alt="hero image">

		</div>
	</div>


	{# LIST OF PROPERTIES SECTION #}
	<div class="property-list container row mx-auto p-0 mb-4">
		<h2 class="text-center display-4 mb-4">Les biens disponibles</h2>


		<div class="container row mx-auto p-0">
			{% for property in properties %}
				{{ include('components/propertyCard.html.twig') }}
			{% endfor %}
		</div>
		<div class="d-flex justify-content-center mt-3">
			{{ knp_pagination_render(properties) }}
		</div>
	</div>


	{# AGENCY DIV #}

	<div class="agency row">
		<div class="col-sm-12 col-lg-6 pt-3">

			<img src={{asset("images/stimulus.svg")}} class="w-75 h-100 d-flex rounded mx-auto image-fluid" alt="stimulus image">

		</div>
		<div class="col-sm-12 col-lg-6 pt-5">

			<h3 class="text-center pt-5">Bienvenue chez Pro Immo Portail !</h3>


			<p class="m-auto px-5 pt-3 text-center">Votre passerelle vers le marché immobilier moderne.
				<br>
				Nous sommes une agence

				<strong>innovante</strong>
				dédiée à simplifier la recherche de biens immobiliers,
				<br>que ce soit pour la location ou l'achat.
			</p>


		</div>
	</div>
	{# AGENCY DIV #}

	<div class="agency row mb-5">

		<div class="col-sm-12 col-lg-6 pt-5">

			<h3 class="text-center pt-5">A propos de nous</h3>

			<p class="m-auto px-5 pt-3 text-center">Votre passerelle vers le marché immobilier moderne.
				<br>
				Nous sommes une agence

				<strong>innovante</strong>
				dédiée à simplifier la recherche de biens immobiliers,
				<br>que ce soit pour la location ou l'achat.
			</p>

		</div>
		<div class="col-lg-6 col-md-12 pt-3">
			<img src={{asset("images/park.svg")}} class="w-50 h-100 d-flex mx-auto image-fluid" alt="stimulus image">
		</div>
	</div>


	<div class="row row-2">
		<div class="col-lg-6 col-md-12 pt-3">
			<div class="d-flex flex-column justify-content-end m-auto pb-5 mx-5 px-5">

				{{ include('components/contactus.html.twig') }}
			</div>
		</div>
		<div class="col-lg-6 col-md-12 pt-3 d-flex align-items-center justify-content-center">
			<div id="map" class="m-0 p-0"><img class="w-100 h-75 mx-auto" src={{asset("images/map.webp")}} alt="map"></div>
		</div>

	</div>
{% endblock %}
