<nav class="navbar navbar-expand-sm navbar-light bg-light" aria-label="Third navbar example">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}"><img src={{ asset('images/pro-immo-portail_logo.png') }} alt="Logo" class="img-fluid w-25"/></a>
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="navbar-collapse collapse me-auto justify-content-end" id="navbarsExample03">
			{# Dropdown menu accessible to authenticated users only #}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<div class="dropdown text-end">
					<div class="mx-3">
						<p>Vous êtes connecté.e en tant que:</p>
						<strong class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-user"></i>
							{{app.user.firstName}}</strong>

						<ul
							class="dropdown-menu me-auto">
							{# Show dashboard to ADMIN ONLY #}
							{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a class="dropdown-item" href={{ path('admin')}} class="nav-link active">Dashboard</a>
								</li>
							{% endif %}
							{# Show favorites to USER, PRO and ADMIN #}
							{% if is_granted('ROLE_USER') %}
								<li>
									<a class="dropdown-item" href={{ path('app_favorite')}} class="nav-link active">Mes favoris</a>
								</li>
							{% endif %}
							{# Show Crete announcment to PRO and ADMIN #}
							{% if is_granted('ROLE_PRO') %}
								<li>
									<a class="dropdown-item" href={{ path('app_property_new')}} class="nav-link active">Déposer une nouvelle annonce</a>
								</li>
							{% endif %}
							<li>
								<a class="dropdown-item" href={{ path('app_reset_password')}} class="nav-link active">Changer mon mot de passe</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" href={{ path('app_logout')}} class="nav-link active">Déconnexion</a>
							</li>
						</div>
					{% else %}
						{# Menu for public access #}
						<div class="text-end ">
							<ul class="nav nav-pills me-auto">
								<li class="nav-item">
									<a href={{ path('app_login')}} class="nav-link active px-2 mx-3">Connexion</a>
								</li>
								<li class="nav-item">
									<a href={{ path('app_register')}} class="nav-link active px-2">Inscription</a>
								</li>
							</ul>
						</div>
					{% endif %}
				</div>

			</div>
		</div>
	</nav>
